.swap-page {
    height: inherit;
    overflow-y: auto;
    margin: 100px auto;
    // padding: 0 120px;

    @media (max-width: 1200px) {
        padding: 0 40px;
    }

    .primary-color-1 {
        color: #24c3bc;
    }
    .primary-color-2 {
        color: rgba(36, 195, 188, 0.5);
    }

    .chart-wrapper {
        display: flex;
        max-width: 870px;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        background-color: rgba(36, 195, 188, 0.1) !important;
        padding: 20px;
        border-radius: 10px;
        border-radius: 6px !important;
        border: 1px solid #24c3bc !important;
        .chart-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .chart-content-1 {
                display: flex;
                flex-direction: column;
                & > h5 {
                    font-size: 18px;
                    font-weight: 800;
                    margin-top: 12px;
                    color: #fff;
                }
                .chart-content-1__p1 {
                    color: #24c3bc;
                    font-family: Roboto;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 800;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                }
                .chart-content-1__p2 {
                    color: #fff;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 800;
                    letter-spacing: 0.9px;
                }
            }
            .chart-content-2 {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 14px;
                .active {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 3px;
                    background: #24c3bc;
                    padding: 6px 13px;
                    max-height: 33px;
                    max-width: 41px;
                    font-size: 18px;
                    color: #fff;
                }
                .in-active {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 3px;
                    background: rgba(217, 217, 217, 0.5);
                    padding: 6px 13px;
                    max-height: 33px;
                    max-width: 41px;
                    font-size: 18px;
                    color: #fff;
                }
            }
        }
    }

    .form-wrapper {
        max-width: 439px;
        width: 100%;

        background-color: rgba(36, 195, 188, 0.1);
        border: 1px solid #24c3bc;
        border-radius: 6px;
        padding: 15px;

        .btn__setting {
            height: 30px;
            width: 30px;

            border-radius: 4px;

            &:hover {
                background-color: #382d4c;
            }
        }

        .title-claim {
            font-family: 'Poppins', sans-serif !important;
            color: #017ee7;
        }

        .title-noactive {
            color: rgba(36, 195, 188, 0.5) !important;
            &:hover {
                cursor: pointer;
                color: var(--primary-color);
            }
        }

        .slippage-input {
            width: 40px;
            border: none;
            outline: none;
            background: #382d4c;
            color: white;
            border-radius: 4px;
            text-align: center;
        }
        .input-balance-wrapper {
            display: flex;
            justify-content: start;
            width: 100%;
            border-radius: 10px;
            margin-bottom: 10px;
            padding-right: 4px;
            p {
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                letter-spacing: 0.8px;
                text-align: right;
                color: #fff !important;
            }
        }

        .input-wrapper {
            height: 100%;
            width: 100%;
            background-color: rgba(36, 195, 188, 0.2) !important;
            border: 1px solid #24c3bc !important;
            border-radius: 6px;

            h4 {
                width: 60%;
                font-size: 20px;
                border: none;
                outline: none;
                background: none;
                color: white;
                flex: 1;
            }

            input {
                width: 60%;
                font-size: 20px;
                border: none;
                outline: none;
                background: none;
                color: #ffffffe8;
                flex: 1;
            }

            .option-wrapper {
                display: flex;
                justify-content: end;
                border-radius: 30px;
                background: transparent !important;
                padding: 4px;
                &:hover {
                    cursor: pointer;
                }
            }

            .wrapper-percent {
                display: flex;
                flex-wrap: wrap;
                justify-content: end;
                gap: 10px;
                margin-top: 10px;
            }

            .btn-percent {
                background-color: rgba(217, 217, 217, 0.5) !important;
                border: none !important;
                border-radius: 3px !important;
                padding: 0 4px;
                cursor: pointer;

                p {
                    font-size: 18px !important;
                    color: #fff !important;
                }
            }

            .btn-percent-select {
                background-color: #24c3bc !important;
                border: none !important;
                border-radius: 3px !important;
                padding: 0 4px;
                cursor: pointer;

                p {
                    font-size: 18px !important;
                    color: #fff !important;
                }
            }
        }

        .icon-swap-wrapper {
            background-color: transparent !important;
            margin: 0 auto;
            border-radius: 12px;
            padding: 5px;
        }
    }

    .form-claim {
        max-width: 400px;
        width: 100%;
        margin: 50px auto;

        background-color: #15155c21;
        border: 1px solid #3f1661;
        border-radius: 10px;
        padding: 15px;
    }

    .table-swap {
        margin: 50px auto;
        max-width: 1111px;
        padding: 0;
        font-size: 20px;
        background-color: #15155c21;
        border-radius: 4px;
        border: 1px solid #24c3bc;

        table {
            background-color: rgba(36, 195, 188, 0.1);
        }

        th {
            font-size: 16px;
            color: #fff;
            border-bottom: 1px solid #24c3bc;
        }

        td {
            font-size: 16px;
            color: #fff;
            // border-bottom: 1px solid #24c3bc;
            border-bottom: none;
        }
    }
}

.custom-tooltip {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;

    & > p {
        color: #000;
    }
}
