.table-swap {
    margin: 50px auto;
    max-width: 1382px;
    padding: 0;
    font-size: 20px;
    background-color: #15155c21;
    border-radius: 4px;
    border: 1px solid #24c3bc;

    table {
        background-color: rgba(36, 195, 188, 0.1);
    }

    th {
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid #24c3bc;
    }

    td {
        font-size: 16px;
        color: #fff;
        // border-bottom: 1px solid #24c3bc;
        border-bottom: none;
    }
}
