.wrapper-martketplace {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    gap: 50px;
    padding-bottom: 30px;

    .wrapper-title {
        text-align: center;
        width: 100%;
        padding: 0 20px;
    }


    .subtitle {
        font-size: 24px;
        line-height: 38px;
        font-weight: 400;
    }

    .cards-img {
        // margin-top: 50px;
    }

    @media (max-width: 768px) {
 
        .subtitle {
            font-size: 20px;
            margin: 0 20px;
        }

        #card-marketplace {
            content: url(../../../assets/image/card_marketplace_mobile.png);
        }
    }
}
