.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    opacity: 0.9;
}

.modal-wrapper-wallet {
    position: fixed;
    top: 25%;
    left: 1%;
    z-index: 1050;
    width: 98%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    // outline: 0;

    .modal {
        z-index: 100;
        position: relative;
        margin: auto;
        border-radius: 10px;
        max-width: 800px;
        border: 1px solid #24c3bc;
        background: rgba(36, 195, 188, 0.3);
        padding: 20px;
        backdrop-filter: blur(3px);

        @media screen and (max-width: 768px) {
            padding: 16px;
            margin: 0 12px;
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            background: transparent;
            padding: 1rem 2rem;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            @media screen and (max-width: 480px) {
                padding: 0;
            }

            .model-back {
                display: flex;
                align-items: center;
                gap: 10px;
            }
            
            .icon-back {
                display: flex;
                align-items: center;
                padding: 10px 0;
                cursor: pointer;
            }

            p {
                color: #24c3bc;
                font-family: Roboto;
                font-size: 30px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: 1.5px;
            }

            .modal-close {
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 50%;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .modal-body {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 20px 10px;
            background: transparent;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;

            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 480px) {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
            .wallet-icon-active {
                border-radius: 6px;
                border: 1px solid #24c3bc;
                background: rgba(36, 195, 188, 0.7);
                display: flex;
                flex-direction: row;
                gap: 8px;
                padding: 10px 10px;
                max-height: 102px;

                @media screen and (min-width: 480px) {
                    gap: 18px;
                    padding: 26px 30px;
                }

                & > img {
                    height: 50px;
                    width: 50px;
                    border-radius: 999px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: rgba(36, 195, 188, 0.7);
                }
            }

            .wallet-icon-inactive {
                border-radius: 6px;
                border: 1px solid #24c3bc;
                background: rgba(217, 217, 217, 0.1);
                display: flex;
                flex-direction: row;
                gap: 8px;
                padding: 10px 10px;
                max-height: 102px;

                @media screen and (min-width: 480px) {
                    gap: 18px;
                    padding: 26px 30px;
                }

                & > img {
                    height: 50px;
                    width: 50px;
                    border-radius: 999px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: rgba(36, 195, 188, 0.7);
                }
            }
        }
    }
}
