.faucet-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: inherit;
    overflow-y: auto;
    margin: 100px auto;
    gap: 114px;

    .header-div {
        color: #24c3bc;
        text-align: center;
        font-family: Roboto;
        font-size: 50px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 2.5px;
    }

    .faucet-div {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 6px;
        border: 1px solid #24c3bc;
        background: rgba(36, 195, 188, 0.1);
        max-width: 800px;
        max-height: 318px;

        padding-right: 42px;
        padding-left: 42px;
        padding-top: 106px;
        padding-bottom: 128px;
        .faucet-input-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding-top: 18px;
            padding-bottom: 18px;
            padding-right: 16px;
            padding-left: 37px;

            max-width: 717px;
            max-height: 84px;
            border-radius: 6px;
            border: 1px solid #24c3bc;
            background: rgba(217, 217, 217, 0.1);

            .faucet-input {
                display: flex;
                background-color: transparent;
                border: none;
                width: 411px;
                height: 30px;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 75px; /* 375% */
                letter-spacing: 1px;
                text-transform: capitalize;
                &:focus {
                    outline: none;
                }
                @media screen and (max-width: 820px) {
                    width: 300px;
                }
                @media screen and (max-width: 650px) {
                    font-size: 16px;
                    width: 250px;
                }
                @media screen and (max-width: 500px) {
                    font-size: 14px;
                    width: 200px;
                }
                @media screen and (max-width: 430px) {
                    font-size: 12px;
                    width: 180px;
                }
                @media screen and (max-width: 376px) {
                    font-size: 10px;
                    width: 150px;
                }
            }
            .faucet-button {
                width: 198px;
                height: 48px;
                border-radius: 6px;
                border: 2px solid #24c3bc;
                background: #24c3bc;
                @media screen and (max-width: 650px) {
                    width: 108px;
                }
                @media screen and (max-width: 500px) {
                    width: 68px;
                }
                @media screen and (max-width: 430px) {
                    width: 58px;
                    font-size: 12px;
                }
            }
        }
    }
}
