.footer-layout {
  padding: 30px 0;
  // background: #0f0b22;

  .wrapper-logo-footer {
    padding: 1px;
    border-radius: 4px;
    background-image: linear-gradient(to right bottom, #ffffff54, #ffffff00);
  }

  .border-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    border-width: 4px;
    background-image: linear-gradient(to right bottom, #141414ea, #ffffff00);
    cursor: pointer;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .subtitle-footer {
    font-size: 20px;
    font-weight: 500;
    color: #ffffffb3;
  }

  @media (max-width: 768px) {
    .subtitle-footer {
      font-size: 16px;
    }
  }

}