.footer-layout {
  padding: 30px;

  border-top: 1px solid #1c1c42;
  background: #0f0b22;

  .border-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    border-width: 4px;
    background-image: linear-gradient(to right bottom, #ffffff47, #ffffff00);
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .subtitle-footer {
    font-size: 20px;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    .subtitle-footer {
      font-size: 16px;
    }
  }

}
