.header {
    height: 64px;
    margin-top: 51px;
    padding-left: 120px;
    padding-right: 120px;

    @media (max-width: 1200px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    .header__item {
        & > h4 {
            color: #9393c4;
            font-weight: 700;
        }

        &:hover {
            & > h4 {
                color: #c2c2e4;
            }
            cursor: pointer;
        }
    }

    .header__title {
        font-family: 'Montserrat', sans-serif;
    }

    .menu-icon {
        display: none;
    }

    .menu {
        background-color: #1b1241;
        margin: auto;
        width: 150px;
        border: #3d1472 solid 1px;
        position: absolute;
        top: 105px;
        border-radius: 8px;
        padding: 5px 15px;
        z-index: 1000;

        .menu__item:hover {
            color: #c2c2e4;
            cursor: pointer;
        }

        & > a {
            color: #c2c2e4;
            cursor: pointer;
        }

        &::after {
            content: '';
            height: 10px;
            width: 10px;
            position: absolute;
            background-color: #1b1241;

            top: -7px;
            left: 10%;
            border-top: #3d1472 solid 1px;
            border-left: #3d1472 solid 1px;
            transform: rotate(45deg);
        }
    }

    .menu-drawer {
        display: flex;
        flex-direction: row;
        align-items: center;
        .menu-drawer-icon {
            display: block;
            @media only screen and (max-width: 485px) {
                display: none;
            }
        }
    }

    @media (max-width: 1200px) {
        .header__nav {
            display: none;
        }

        .menu-icon {
            display: block;
        }
    }

    @media (max-width: 768px) {
        .header__title {
            display: none;
        }
    }
}

.btn-conc {
    height: 40px;

    display: flex;
    align-items: center;

    border: 2px solid #7abdf7;
    border-radius: 6px;
    padding: 0 30px;

    @media (max-width: 400px) {
        padding: 0 5px;
    }

    .btn-conc__title {
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
    }

    .btn-conc__icon {
        height: 15px;
        width: 15px;
    }

    &:hover {
        border: 1px solid #c2c2e4;

        cursor: pointer;

        .btn-conc__title {
            color: #9393c4;
        }
    }

    @media (max-width: 500px) {
        .btn-conc__title--hidden {
            display: none;
        }
    }
}
