.footer-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    margin: auto;

    // background-color: #171717;
    padding: 100px 0;

    .footer-title {
        // background: -webkit-linear-gradient(#3740fb, var(--primary-color));
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // color: var(--primary-color) !important;
        font-weight: 700;
        font-size: 20px;
    }

    .project-name {
        font-family: 'Paytone One', sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: #1de7d9;
    }

@media (max-width:767px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
}

